page-main {
	.scroll-content {
	    background: $backgroundClr;
	}

	.order-loc__from-icon {
		flex-grow: 1;
		color: #ff9800;
	}

	.order-loc__to-icon{
		flex-grow: 1;
		color: #ffc107
	}

	.order-loc__icon {
		width: 16px;
		margin-right: 5px;
	}

	.order-loc__add-point {
		border: 1px dashed #000;
	}

	.order-loc__add-icon {
		color: #9E9E9E;
	}

	.order-loc__item {
		cursor: pointer;
	}

	.order-loc__item-head {
		display: flex;
		flex-grow: 10;
	}

	.order-loc__actions {
		flex-grow: 1;
		text-align: right;
	}

	.order-loc__item-head-text {
		flex-grow: 8;
	}

	.order-loc__actions-edit, .order-loc__actions-clear {
		margin-right: 5px;
	}

	.order-loc__actions-close_disabled {
		color: #d0d0d0;
		cursor: default;
	}
	
	.showmap-wrapper {
		margin: 10px;
		min-height: 45px;
	}

	.showmap-btn {
		text-transform: none;
		font-weight: 600;

	    height: auto;
	    padding-top: 10px;
	    padding-bottom: 10px;

		ion-icon {
			margin-left: 5px;
		}

		.showmap-btn__distance {
			display: block;
		}

		.button-inner {
			display: block;
		}
	}

	.order-opt {

		.segment-md .segment-button {
			background: #793f0c;
		}

		.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
			border-color: #17ff00;
		}
	}

	.order-opt__body.card-md {
		margin: 0;
		width: 100%
	}

	.order-opt__body .list-md .item-block .item-inner {
		border-bottom: 1px solid #dedede;
	}

	.order-loc__lat-lon {
		font-weight: bold;
		color: #00f;
		display: inline-block;
	}

	.hide-help-button {
		display: none;
	}

	.order-btn__price {
	    text-transform: none;
	}

	ion-card.order-dop-params {
		margin-top: 20px;
	}

	.order-dop-params__message {
		margin: 10px;
	}

	.order-dop-params__header {
		padding: 0;
	}
	.order-dop-params__header button {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.order-dop-params__header-arrow {
		margin-left: 10px;
	    transition: 0.5s transform 0s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	.order-dop-params__header-arrow_active {
		transform: rotateZ(180deg);

	}
}
